.item-image {
  position: relative;
  width: 100%;
}
.item-image:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.item-info {
  padding: 0.5rem 0;
  .i-title,
  .i-price {
    font-size: 0.89rem;
    font-weight: 500;
    line-height: 1.3rem;
  }
  .i-price {
    font-size: 0.95rem;
    font-weight: 600;
  }
}
