.navbar {
  top: 20px;
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  margin: 0 auto;
  height: 75px;
  .nav {
    background-color: #fff;
    -webkit-box-shadow: 0 6px 24px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 6px 24px 0 rgb(0 0 0 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100%;
    position: relative;
    li {
      a,
      button {
        font-size: 0.85rem;
        margin: 0 16px;
        text-transform: uppercase;
      }
    }
  }
}
