.product-page {
  .product-layout {
    width: 100%;
    margin: 0 auto;
    max-width: 992px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .gallery-content-wrapper {
      width: 70%;
      .product-gallery {
        // float: left;
        position: relative;
        padding: 0 10px;
        width: 100%;
        display: flex;
        .product-carousel {
          // float: right;
          overflow: hidden;
          width: 90%;
          position: relative;
          // margin-right: 4%;
          // visibility: hidden;
          animation-name: loading;
          animation-duration: 1.5s;
          animation-timing-function: linear;
          animation-delay: 1s;
          animation-iteration-count: 13;
          .img-magnify {
            background: #f2f2f2;
            div {
              background: #f2f2f2;
            }
          }
          .slick-dots {
            bottom: 10px;
            li button:before {
              font-size: 6px !important;
            }
          }
        }

        .thumbnails {
          // float: left;
          width: 10%;
          // padding-right: 16px;
          text-align: center;
          margin-top: 2rem;
          .image-thumbnail {
            margin-bottom: 0.8rem;
            width: 60px;
            background-color: #f2f2f2;
            img:focus,
            img:active {
              // -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
              // -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
              // box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
              outline: none;
              box-shadow: 0 0 3px 1px #0770cf;
            }
          }
        }
      }
    }

    .aside-content {
      // padding: 0 10px;
      min-height: 1px;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 30%;
      margin-bottom: 2em;
      .product-hero h1 {
        margin-top: 2rem;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 2.8px;
        line-height: 1.4;
        letter-spacing: 1.3px;
        max-width: 90%;
      }
      .product-price {
        span {
          font-size: 20px;
          line-height: 1.1;
          font-style: normal;
          font-weight: 700;
          color: #555;
          padding-right: 5px;
          &.pr-sp {
            color: #d01345;
          }
          &.pr-cp {
            text-decoration: line-through;
            font-size: 14px;
            color: #333;
            font-weight: 400;
          }
        }
        .product-delivery {
          margin-top: 8px;
          font-size: 14px;
          border-bottom: 1px solid #999;
          color: #2d2d2d;
        }
      }
      .p-l {
        margin-top: 20px;
      }
      .product-size {
        select {
          line-height: 1.5;
          letter-spacing: 0.4px;
          padding-top: 9px;
          padding-bottom: 9px;
          padding-left: 14px;
          font-size: 13px;
        }
      }
      label {
        color: #2d2d2d;
        font-size: 11px;
        line-height: 1.7;
        font-weight: 900;
        letter-spacing: 1.7px;
        text-transform: uppercase;
        padding-right: 6px;
      }
      // .product-add {
      //   margin-top: 25px;
      //   &::after {
      //     content: '';
      //     display: block;
      //     clear: both;
      //   }
      //   button,
      //   a {
      //     height: 40px;
      //     text-transform: uppercase;
      //     font-weight: 700;
      //     font-size: 14px;
      //     letter-spacing: 2px;

      //     &.add-item {
      //       width: calc(100% - 60px);
      //       float: left;
      //     }
      //     &.save-p {
      //       border-radius: 100px;
      //       width: 40px;
      //       position: relative;
      //       float: right;
      //       &[data-state='active'] .half {
      //         display: none;
      //       }
      //       &[data-state='inactive'] .full {
      //         display: none;
      //       }
      //       svg {
      //         stroke-width: 10px;
      //         font-size: 17px;
      //         position: absolute;
      //         top: 50%;
      //         left: 50%;
      //         transform: translate(-50%, -50%);
      //       }
      //     }
      //   }
      // }
      .p-detail {
        margin-top: 30px;
        font-size: 14px;
        line-height: 24px;
        h2 {
          color: #999;
          text-transform: uppercase;
          margin-bottom: 5px;
          margin-top: 20px;
          font-size: 14px;
          line-height: 1.7;
          letter-spacing: 0.4px;
          letter-spacing: 2px;
        }
        ul {
          padding-left: 18px;
        }
      }
    }
    .slick-dots {
      position: absolute;
      bottom: 2px;
    }
  }
  @media (max-width: 720px) {
    .product-layout {
      // float: left;
      // width: 100%;
      .gallery-content-wrapper {
        width: 100%;
        .product-gallery {
          padding: 0 10px;
          min-height: 1px;
          display: block;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0;
          margin: 0 calc(-50vw + 50%);
          width: 100vw;
          // margin-bottom: 1rem;
          .product-carousel {
            width: 100%;
            margin-right: 0%;
          }
          .thumbnails {
            display: none;
          }
        }
      }
      .aside-content {
        min-height: 654px;
        position: relative;
        // float: left;
        // padding: 0 10px;
        min-height: 1px;
        width: 100%;
      }
    }
  }
}
