# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=l0XlvRfiHE40yjB9wVRe0g==,mLbmPCGWGbm/Cu4Bp7HTuw==,LyFAVWOLUVSGdYk2SKz6sA==,hMZeaD1E6MBnFh9yfKDC1A==
API_TOKEN_SALT=oLqUVlg+q5wlADAHO7yswQ==
ADMIN_JWT_SECRET=/g1wNpnxf64OZ6HTvwtNdQ==
TRANSFER_TOKEN_SALT=+gVZERGEkwM5swAH5xokVw==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=toBeModified
DATABASE_PORT=toBeModified
DATABASE_NAME=toBeModified
DATABASE_USERNAME=toBeModified
DATABASE_PASSWORD=toBeModified
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=keL0K4UsHogJhapaACDwJw==

SENDGRID_API_KEY=SG.toBeModified
DEFAULT_EMAIL_FROM=yourEmailAddress@example.com
DEFAULT_EMAIL_TO=yourEmailAddress@example.com


AWS_ACCESS_KEY_ID=toBeModified
AWS_ACCESS_SECRET=toBeModified
AWS_REGION=toBeModified
AWS_BUCKET=toBeModified